* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2F4F4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    cursor: url(../image/cursor/octocat-white.png), auto;
}

/******************** HEAD********************/
.head {
width: 5em;
margin: 0.5em;

}
.head .github-logo{
    width: 100%;
    opacity: 0.6;
}
.head .github-logo:hover{
    opacity: 0.85;
}



/********************Title********************/

.title-box {
    padding: 2em;
    /* margin: 2em; */
    display: flex;
    justify-content: center;
    align-items: center;
    Flex-direction: column;
    font-size: 1.5em;
    border: 2px solid rgb(189, 181, 181);
}
.title {
    font-size: 2.5em;
    margin-bottom: 12px;
    color: #fd5353;
}
.description {
    font-size: 0.8em;
    color: #dbd8d8;

}

/******************** Serach Box ********************/

.search-box {
    margin: 1em 5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1em;
}
#user-input {
    padding: 2em;
    font-family: 'Press Start 2P', cursive;
    color: rgb(82, 94, 252);
    border: 5px solid#A9A9A9;
    background-color: #dbd8d8;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
    cursor: url(../image/cursor/octocat-black.png), auto;
}
#search-btn {
    margin: 1em;
    padding: 2em;
    font-family: 'Press Start 2P', cursive;
    color: #e9e9e9;
    background-color: #696969;
    cursor: url(../image/cursor/octocat-white.png), auto;
    border: 5px solid#bbb9b9;
    border-radius: 20px;
    text-align: center;
    font-size: 1.0em;
    margin-left: 12px;
}

#search-btn:active{
    background-color: #e9e9e9;
    color: #696969;
}


/******************** Ou ********************/
.output-box {
    margin: 1em;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid rgb(189, 181, 181);
}
#profile-img {
    width: 10em;
    margin: 1em;
    border: 2px solid rgb(189, 181, 181);
    border-radius: 100%;
    visibility: hidden;
}

#output {
    font-size: 1.5em;
}

/******** Footer ********/

.footer-box {
    /* height: 7vh; */
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
}
.footer-el {
    text-decoration: none;
    color: #dbd8d8;
}
.footer-el>a {
    text-decoration: none;
    color: rgb(253, 83, 83);
}
.footer-el>a:hover {
    color:  #dbd8d8;
}


/* MEDIA QUERIES */
@media  (max-width:800px) {
    body{
        font-size: 14px;
    }


}

@media (max-width:600px){
    .title-box {
        font-size: 1em;
    }
    .search-box {
        
        font-size: 0.8em;
        
    }
}
@media  (max-width:375px) {
    body{
        font-size: 10px;
    }

}